services:
  server:
    build:
      context: ./server
    # container_name: event-management-server # Removed for scaling
    env_file:
      - ./server/.env.prod
    # ports: # Removed, traffic goes via Nginx LB now
    deploy:
      replicas: 3 # Example: Start 2 replicas
    restart: always
    networks:
      - app_network

  web:
    build:
      context: ./web
    env_file:
      - ./web/.env.prod
    # ports: # Commented out as access should primarily be via Nginx LB
    #  - "5650:3000"
    deploy:
      # Note: This key is primarily for Docker Swarm.
      # Use 'docker-compose up --scale web=3' for non-swarm scaling.
      replicas: 3
    depends_on:
      - server
    restart: always
    networks:
      - app_network

  nginx:
    image: nginx:alpine
    container_name: ra-2025-nginx
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/logs:/var/log/nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
      - server
    restart: always
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
